{% for a in sistem %}
  <tr>
   <td>{{ a.NamaSistem }}</td> 
   <td>{{ a.Tahun }}</td> 
   <td>
    {% if a.Status == 1 %}
        <span class="label label-success">Aktif</span>
    {% else %}
        <span class="label label-danger">Tidak Aktif</span>
    {% endif %}
    </a></td> 
   <td>{{ a.PemilikSistem }}</td> 
   <td align="center">
    <!-- <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" data-original-title="Delete"><i class="ti-close" aria-hidden="true"></i></button> -->
     <button type="button"
      class="btn btn-sm btn-icon btn-pure btn-outline pencil-row-btn js-update-sistem"
      data-toggle="tooltip" data-original-title="Kemaskini" data-url="{% url 'sistem_update' a.id %}" 
      ><i class="ti-pencil" aria-hidden="true"></i>
    </button>

    <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline js-delete-sistem" data-toggle="tooltip" data-original-title="Hapus" data-url="{% url 'sistem_delete' a.id %}"
    ><i class="ti-close" aria-hidden="true"></i></button>

   
              
</td> 
  </tr>
  {% endfor %}