{% extends 'base.html' %}


{% block content %}

     <div class="col-12">
         <div class="card">
             <div class="card-body">
                 <h4 class="card-title">Hapus Peranan</h4>
                  <div>
                      <form method="post" class="form-horizontal">
                        {% csrf_token %}
                        {% if refperanan %}
                          <p>Adakah anda pasti untuk menghapuskan peranan : {{ refperanan.peranan }} ?</p>
                          <p>Amaran ! Rekod pernanan ini akan dihapuskan dan tidak boleh dikembalikan semula.</p>
                          <br>
                          <button type="submit" name="submit_yes" value="Yes" class="btn btn-primary">Yes</button>
                        {% else %}
                          <p>Maaf! Tiada maklumat berkenaan maklumat peranan ini. Berkemungkinan peranan
                              ini telah dihapuskan atau belum dicipta lagi</p>
                          <br>
                        {% endif %}
                          <a href="{% url 'peranan_home' %}" class="btn btn-primary">No</a>
                      </form>
                    </div>
             </div>
         </div>
     </div>


{% endblock %}